.DS_Store
.pytest_cache/
.venv/
.swift-module-cache/
book/dumps/ghidra.lock
book/dumps/ghidra.lock~
book/dumps/ghidra.gpr
book/dumps/ghidra.rep/user/~index.dat
book/dumps/ghidra.rep/versioned/~index.dat
book/dumps/ghidra.rep/idata/~index.dat
book/dumps/ghidra.rep/project.prp

# Do not commit Apple binaries
book/dumps/Sandbox.kext
book/dumps/*.kext
