<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ProbeService_bookmarks_app_scope__injectable</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourteam.policy-witness.ProbeService_bookmarks_app_scope.injectable</string>
	<key>CFBundleName</key>
	<string>ProbeService_bookmarks_app_scope__injectable</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
